<h1>
    ARTÍCULOS
    <form action = "articulos" method = "POST">
        <div>
            <input type = "text" id = "nombreProducto" name = "nomProd">
            <button formaction = "filtrarNom" name = "nomProdBoton">
                Filtrar nombre
            </button>
        </div>
        <div>
            <input type = "text" id = "cantidad" name = "cant">
            <button formaction = "filtrarCant" name = "cantBoton">
                Filtrar cantidad
            </button>
        </div>
        <div>
            <button formaction = "agregar" name = "nuevoBoton">
                Insertar nuevo articulo
            </button>
            <button formaction = "salir" name = "salirBoton">
                Salir
            </button>
        </div>
    </form>
</h1>
<div>
    <table>
        <thread>
            <tr>
                <th class = "text-center">Nombre</th>
                <th class = "text-center">Precio</th>
            </tr>
        </thread>
        <tbody>
            <% for (elemento of productos) {%>
            <tr>
                <td>
                    <%=elemento.Nombre%>
                </td>
                <td>
                    <%=elemento.Precio%>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>