<h1>
    ARTÍCULOS
    <script>
        function deshabilitarBoton(){
            var cant = document.getElementById('cantidad').value;
            cant = Number(cant);
            if (cant == "" || (!isNaN(cant) && cant == Math.trunc(cant))){
                document.getElementById('cantBoton').disabled = false;
            }
            else{
                document.getElementById('cantBoton').disabled = true;    
            }
        }
    </script>
    <form action = "articulos" method = "POST">
        <div>
            <input type = "text" id = "nombreProducto" name = "nomProd">
            <button formaction = "filtrarNom" name = "nomProdBoton">
                Filtrar nombre
            </button>
        </div>
        <div>
            <input type = "text" id = "cantidad" name = "cant" onchange="deshabilitarBoton()">
            <button formaction = "filtrarCant" id="cantBoton" name = "cantBoton">
                Filtrar cantidad
            </button>
        </div>
        <div>
            <button formaction = "insertar" name = "nuevoBoton">
                Insertar nuevo articulo
            </button>
            <button formaction = "salir" name = "salirBoton">
                Salir
            </button>
        </div>
    </form>
</h1>
<div>
    <%=mensajeError%>
    <table>
        <thread>
            <tr>
                <th class = "text-center">Nombre</th>
                <th class = "text-center">Precio</th>
            </tr>
        </thread>
        <tbody>
            <% for (elemento of productos) {%>
            <tr>
                <td>
                    <%=elemento.Nombre%>
                </td>
                <td>
                    <%=elemento.Precio%>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>