<h1>Insertar Articulo</h1>
<form action = "insertar" method = "POST">
    <div>
        <label for = name>Nombre:</label>
        <input type = "text" id = "name" name = "name">
        
    </div>
    <div>
        <label for = pass>Precio:</label>
        <input type = "text" id = "precio" name = "precio">
    </div>
    <div>
        <button formaction = "insertarB" name="insBoton" id="insBoton">Insertar</button>
    </div> 
    <div>
        <button formaction = "cancelar">Cancelar</button>
    </div>
    
</form>